
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;

  background-color: #222;
  color: rgb(38, 191, 246);

  box-sizing: border-box;
  overflow-x: hidden;
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;   
}

.nav a {
  color: rgb(44, 227, 251);
  text-decoration: none;
  font-size: 18px;
}

.nav a:hover {
  color: #ffffff;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #61dafb;
}
